@{
	ViewData["Title"] = "Hobbies";
}
<h1>@ViewData["Title"]</h1>

<p>The following is a list of my favorite things to do!!</p>

<ul>
	@{
		foreach (var hobby in ViewBag.Hobbies)
		{
			<li>@hobby</li>
		}
	}
</ul>